@using AppStarter.Helpers
@model AppStarter.ViewModels.Account.ForgotPasswordModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = Layouts.Root;
}

<h2>ForgotPassword</h2>

@using (Html.BeginForm("ForgotPassword", "Login"))
{
    <div id="Summary">
        @Html.ValidationSummary()
    </div>

    <h1>Login</h1>

    <p>
        <label>Email</label>
        @Html.TextBoxFor(x => x.Email)
    </p>

    <fieldset >
        <legend>Actions</legend>
        <div>
            <div class="colx3-left-double">
                <button id="login" name="login" type="submit" class="button" value="Login">Reset Password</button>
            </div>
            <div>
                @Html.ActionLink("Back", "Index", "Login")
            </div>
        </div>
    </fieldset>
}