@model AppStarter.ViewModels.Mail.ChangePasswordMessage
@{
    Layout = null;
}

<p>Dear @Model.Recipient.FullName,</p>

<p>We received a request to reset your password.</p> 

<p> Your new password is : @Model.NewPassword</p>

<p>If you have problems resetting your password, Contact Support or send an email to support@appstarter.com</p>

<p>
    Sincerely,<br />
    The AppStarter Team
</p>
